[general]
trading_enabled = True
coin = xrb

[BitGrail]
buy_at_min_perc_profit = 4
disable_buy = True
disable_sell = True

ApiKey = None
Secret = None

[KuCoin]
buy_at_min_perc_profit = 3
disable_buy = True
disable_sell = True

ApiKey = None
Secret = None

