[general]
trading_enabled = True
coin = xrb
notify_via = Telegram
starting_balance_btc = 0

[Telegram]
telegram_bot_id = None
telegram_chat_id = None

[BitGrail]
buy_at_min_perc_profit = 4
disable_buy = True
disable_sell = True

ApiKey = None
Secret = None

[KuCoin]
buy_at_min_perc_profit = 3
disable_buy = True
disable_sell = True

ApiKey = None
Secret = None

